@{
    Layout = null;
}
<link href="~/css/notFound.css" rel="stylesheet" />
<div class="lock">
    <img src="~/img/lock.png" alt="hugenerd" width="50" height="50" class="rounded-circle">
</div>
<div class="message">
  <h1>Access to this page is restricted</h1>
  <p>Please check with the site admin if you believe this is a mistake.</p>
</div>